.DS_Store
.idea
.cache-main
.cache-tests
.classpath
.project
.settings
.lock
.todos.json
*.log
*.zip
.run
.run_configs
**/target/**
**/build/**
**/.idea/**
**/out/**
**venv**
**/.pybuild/**
**/*.egg-info
env/*
*mypy_cache*
*__pycache__*
*.pyc
.ipynb_checkpoints
*.iml
**/.vscode/**
**/.metals/**
**/_data/**
**/_debug/**
**/.mypy_cache/**

**/key.json

.ruff_cache
